

.DS_Store
URLPLayer.xcodeproj/project.xcworkspace/xcuserdata
URLPLayer.xcodeproj/xcuserdata
Pods/Pods.xcodeproj/xcuserdata
URLPlayer.xcworkspace/xcuserdata

*.xccheckout
build
URLPLayer/URLPLayer.xcodeproj/xcshareddata/xcschemes
